<section>
  <div class="container">
    <h2 class="visually-hidden">Our Advantages</h2>
    <ul>
      <li class="advantages-item">
        <div class="advantages-item-content">
          <p>Effortless Validation for</p>
          <h3>Management</h3>
          <p>
            The Myspace page defines the individual, his or her characteristics,
            traits, personal choices and the overall personality of the person.
          </p>
          <ul>
            <li>
              <h4>Accessory makers</h4>
              <p>
                While most people enjoy casino gambling, sports betting, lottery
                and bingo playing for the fun
              </p>
            </li>
            <li>
              <h4>Alterationists</h4>
              <p>
                If you are looking for a new way to promote your business that
                won’t cost you more money,
              </p>
            </li>
          </ul>
        </div>

        <img src="./images/management-img.svg" alt="management" />
      </li>
      <li class="advantages-item">
        <img src="./images/support-img.svg" alt="support" />

        <div class="advantages-item-content">
          <p>Easier decision making for</p>
          <h3>Customer Support</h3>
          <p>
            The Myspace page defines the individual, his or her characteristics,
            traits, personal choices and the overall personality of the person.
          </p>
          <ul>
            <li class="advantages-support-item">
              <div class="advantages-icon-box">
                <svg class="advantages-icon" width="17" height="12">
                  <use href="./images/tick-adv.svg#icon-tick"></use>
                </svg>
              </div>
              <p>Never worry about overpaying for your energy again.</p>
            </li>
            <li class="advantages-support-item">
              <div class="advantages-icon-box">
                <svg class="advantages-icon" width="17" height="12">
                  <use href="./images/tick-adv.svg#icon-tick"></use>
                </svg>
              </div>
              <p>
                We will only switch you to energy companies that we trust and
                will treat you right
              </p>
            </li>
            <li class="advantages-support-item">
              <div class="advantages-icon-box">
                <svg class="advantages-icon" width="17" height="12">
                  <use href="./images/tick-adv.svg#icon-tick"></use>
                </svg>
              </div>
              <p>We track the markets daily and know where the savings are.</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="advantages-item">
        <div class="advantages-item-content">
          <p>Optimisation for</p>
          <h3>Collaborative</h3>
          <p>
            Few would argue that, despite the advancements of feminism over the
            past three decades, women still face a double standard when it comes
            to their behavior.
          </p>
          <ul>
            <li>
              <h4>Accessory makers</h4>
              <p>
                While most people enjoy casino gambling, sports betting, lottery
                and bingo playing for the fun
              </p>
            </li>
            <li>
              <h4>Alterationists</h4>
              <p>
                If you are looking for a new way to promote your business that
                won’t cost you more money,
              </p>
            </li>
          </ul>
        </div>
        <img src="./images/collaboration-img.svg" alt="collaboration-img" />
      </li>
    </ul>
  </div>
</section>
