<section class="process">
  <div class="container">
    <h2 class="process-title">Quick & Easy Process</h2>
    <p class="process-text">
      Do you require some help for your project: Conception workshop,
      prototyping, marketing strategy, landing page, Ux/UI?
    </p>
    <ul class="process-list">
      <li class="process-list-item">
        <img class"process-photo" src="./images/avatars/avatar1.png"
        alt="avatar1" />
        <p class="process-item-text">I can take care of your pitch</p>
      </li>
      <li class="process-list-item revers">
        <img class"process-photo" src="./images/avatars/avatar2.png"
        alt="avatar2" />
        <p class="process-item-text">I can prototype your app</p>
      </li>
      <li class="process-list-item revers">
        <img class"process-photo" src="./images/avatars/avatar3.png"
        alt="avatar3" />
        <p class="process-item-text">I can take care of your pitch</p>
      </li>
      <li class="process-list-item">
        <img class"process-photo" src="./images/avatars/avatar4.png"
        alt="avatar4" />
        <p class="process-item-text">I can help marketing strategy</p>
      </li>
    </ul>
    <button class="process-btn" type="button">Contact our expert</button>
  </div>
</section>
