.page {
}

.header {
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 237px;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}

.logo-image {
}

.header-nav {
  margin-right: auto;
}

.header-nav-list {
  display: flex;
  gap: 30px;
}

.header-nav-item {
}

.header-nav-link {
  padding: 26px 0;
  display: block;
  line-height: 1.75;
  color: #22343d;
}

.current {
  font-weight: 600;
}

.nav-link {
}

.header-btn-list {
  display: flex;
  gap: 21px;
}

.header-btn {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  min-width: 105px;
  height: 42px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  background-color: transparent;
}

.header-btn:hover,
.header-btn:focus {
  color: #fff;
  background-color: #02897a;
  border: none;
}
